body {
  background-color: #1a1a1a;
  color: white;
  font-family: sans-serif;
}

button {
  transition: background-color 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 4px 0;
}

.border-l {
  border-left-width: 2px;
  border-color: #555;
}